.container {
    display: flex;
    flex-direction: column;
    gap: 138px; 
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 69px;
}
.section-1{
    display: flex;
    flex-wrap: wrap;
}
.block-child-1{
    display: flex;
    max-width: 600px;
    text-align: end;
    background: #FBFBFB;

}
.block-child-1 h3 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    color:#3D3D3D;
    padding: 4px 0;
}
.block-child-1 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}


.content-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 35px;
}
.link-find {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
    width: 140px;
    height: 40px;
    border-radius: 6px;
    background: #46A358;
    color: #FFFFFF;
    margin-top: 25px;
}

.arrow-style{
    margin-left: 2px;
}
.find{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #FFFFFF;
}

/* Second section */


.section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    gap: 35px;
}
.tittle-section{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.tittle{
    align-items: center; 
    display: flex;
    flex-direction: column;
   
}
.title-h{
    padding-bottom: 15px;
    font-size: 30px;
    font-weight: 700;
    color:#3D3D3D;
}
.tittle-p{
    font-size: 14px;
    font-weight: 400;

}

.down-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    
}
.block-child-2{
    display: flex;
    flex-direction: column;
    max-width: 268px;
    background: #FBFBFB;
}
.content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.span-2 {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #46A358;
    
}
.block-child-2 h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
    color:#3D3D3D;
    padding: 4px 0;
}
.block-child-2 p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: #727272;
    background: #FBFBFB;
}
.block-child-2 a {
    background: none;
    justify-content: flex-start;
    margin-top: 9px;
    height: 17px;
}


.section-2 .block-child-2 a span {
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    color: #3D3D3D;
}

.pagination a.active {
    background-color:#46A358;
    color:#FFFFFF;
    border-color: #46A358;
}

