.container {
    max-width: 840px;
    margin: 0 auto;
    overflow: hidden;
}

/* Боковая менюха */

aside{
background: #FBFBFB;

}
.sidebar{
    float: left;
    margin-left: 135px;
    max-width: 310px;
}
.menu{
    width: 100%;
    margin-left: 18px;
    margin-top: 14px;
    padding-bottom: 580px;
    
}

aside nav h2{
    padding-bottom: 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
}

aside nav li{
    padding-left: 12px;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;

}

.banner-img{
    width: 100%;
}



/* Второй хедер */

.nav {
    text-align: right;
    height: 24px;
}

.ul-nav-shop {
    float: left;
    display: inline-block;
    position: relative;
    top: 50%; 
    transform: translateY(-50%);
}

.ul-nav-shop li {
    display: inline-block;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}

.ul-nav-shop li a {
    position: relative;
    }

    .ul-nav-shop li a.active {
    font-size: 15px;
    font-weight: 700;
    color: #46A358;
    
}
.ul-nav-shop li a.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #46A358;  
}



header nav label,
header nav select {
    display: inline-block;
    position: relative;
    top: 50%; 
    transform: translateY(-50%); 
}
header nav select{
    font-size: 15px;
    font-weight: 400;
    line-height: 16px;
}
/* Контейнер цветочки */


.goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    gap: 70px 30px;
    margin-top: 31px;
}

.product-card{
    max-width: 258px;
    position: relative;
    border-top: 1px solid transparent;
    
}


.img-wrap{
    position: relative;
    background:#FBFBFB;
    padding: 35px 4px;
}

.badge{
    position: absolute;
    top: 14px;
    background: #46A358;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    padding: 7px 9px;
    cursor: pointer;

}

.card-button{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;
    bottom:71px;
    opacity: 0;
    transition: 0.3s;
button{
    padding: 8px;
    background:#FBFBFB;
    border-radius: 4px;
}  
}

.img-btn{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.product-card:hover .card-button {
    opacity: 1;
}
.product-card:hover{
    opacity: 1;
    border-top: 1px solid #46A358;
    transition: 0.3s;
}

.product-name{
    padding-top: 31px;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}
.product-price{
    padding-top: 6px;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    color:#46A358;
}

.pagination{
    width: 100%;
    margin-top: 90px;
    margin-bottom: 82px;
    display: flex;
    justify-content: flex-end;
    
}

.pagination ul {
    display: flex;
}

.pagination li {
    margin-right: 10px;
}
.pagination a {
    padding: 8px 12px;
    border: 1px solid  #E5E5E5;
    color: #333;
    border-radius: 4px;
}

.pagination a.active {
    background-color:#46A358;
    color:#FFFFFF;
    border-color: #46A358;
}

.pagination a:hover {
    background-color: #e0e0e0;
}